.container {
	margin: 2% auto;

	max-width: 60rem;
	max-height: auto;
	border-radius: 20px;
	overflow: hidden;
	background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.9) 57%, transparent 50%),
		url(./form_pizza.jpg);
	background-size: cover;
	background-repeat: none;
	box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.2);

	@media only screen and (max-width: 650px) {
		background-image: linear-gradient(to right, rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0.7) 100%),
			url(./form_pizza.jpg);
	}
}

.form {
	box-sizing: border-box;
	width: 50%;
	height: 100%;
	padding: 2rem;
	display: flex;
	flex-direction: column;
	gap: 1.5rem;

	&__duration_container {
		margin-top: -20px;
		display: flex;
		justify-content: space-between;
		width: 100%;

		& > * {
			width: 30%;
		}
	}

	@media only screen and (max-width: 650px) {
		width: 100%;
	}

	& .response-message {
		text-align: center;
	}
}
